/*-----google font---------*/
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

:root {
    --buttonLinkPink:rgb(255, 108, 255);
    --background:rgb(238, 249, 252);
    --imgBorderColor: rgb(255, 206, 255);
    --boxShadow:1px 1px 10px rgb(165, 160, 160);
    --underlineColor:rgba(255, 172, 77, 0.815);
    --paragraphColor:rgba(100, 100, 100, 0.849);
    --navbarColor:rgb(54, 54, 54);
}


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(238, 249, 252);
}
html{
  scroll-behavior: smooth;
}

/*---------------nav bar---------------*/
nav .navbar-toggler{
  outline:none;
  color:white;
  transition: all .4s ease-in-out;
}
/* add class jquery */
.active{
  transform: rotate(180deg);
}


.navbar-brand{
  color:white;
  font-size: 1.6rem;
  letter-spacing: 1px;
 
}
.navbar-brand span{
  font-style: italic;
  color:rgb(72, 90, 255);

}
.navbar-brand:hover{
  transition: all .4s ease-in-out;
  color:rgb(255, 67, 67);
}
nav{
  /* text-align: center; */
  background:var(--navbarColor);

}

ul li{
  list-style-type: none;
}

 ul li a {
  text-decoration: none !important;
  font-size: 1.2rem;
  margin-right: 5px;
  margin-bottom: 5px;
  color:rgb(255, 255, 255);
  letter-spacing: 2px;
} 

ul li a:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
  background-color: rgb(75, 75, 75);
} 
/*--------x-------nav bar---------x------*/

/*-------Intro font size(Web developer)--------*/
.intro-container{
  background-image: url("./img/intro-img2.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
.intro-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color:rgb(49, 49, 49);
  opacity: 0.6;
  z-index: -1;
}

.intro-text h1 {
  display: block;
  width: fit-content;
  letter-spacing: 4px;
  font-size: 2.2rem;
  text-align: center;
  position: relative;
  top:17rem;
  margin-bottom: 10px;
  padding: 0 40px;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

.intro-text h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: rgba(224, 224, 224, 0.459);
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
  border-radius: 30px;
}

.intro-text h1:nth-child(1) {
  animation-delay: 1s;
}
.intro-text h1:nth-child(2) {
  animation-delay: 2s;
}
.intro-text h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}

.intro-text h1:nth-child(1) span {
  animation-delay: 0.5s;
}
.intro-text h1:nth-child(2) span {
  animation-delay: 1.5s;
}
.intro-text h1:nth-child(3) span {
  animation-delay: 2.5s;
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: #ffffff;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #0bb6ff;
  }
}
/*---xx---Intro font size(Web developer)----xx----*/

/*----------These are my project section css------------------*/
.welcome {
  margin:0 auto;
  margin-top:2rem;
  font-size: 1.8rem;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  color:rgb(58, 58, 58);
}
.underline{
  height:3px;
  width:18rem;
  margin:0 auto;
  background-color: var(--underlineColor);
  margin-bottom: 2rem;
}
/*------xx----These are my project section css-----xx-------------*/

/*--------card margin-----------*/
.card {
  margin-top: 1rem;
  border:3px solid rgb(255, 206, 255);
  box-shadow: var(--boxShadow);
  object-fit: cover;
}

h4 {
  font-size:1.1rem;
  letter-spacing: 2px;
}
p{
  color:var(--paragraphColor);
  font-size: .85rem;
}
.visit-btn{
  font-size: 1rem;
  color:rgb(255, 255, 255);
  border:1px solid rgb(255, 108, 255);
  letter-spacing: 1px;
  text-transform: capitalize;
  width:15rem;
  margin:1rem auto;
  margin-top:1rem;
  background:rgb(255, 108, 255);
}
.visit-btn:hover{
  background:rgb(255, 65, 255);
  border:1px solid rgb(255, 65, 255);
}
/*--------card xxxxxx-----------*/

/* --------react project------------------ */
.react-project-text{
  font-size: 1.4rem;
  text-align: center;
  margin-top:5rem;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1.6rem;
  padding:.4rem;
  background:rgb(99, 232, 255);
  border:1px solid rgb(0, 153, 255);
  border-radius: 8px;
  max-width:25rem;
  letter-spacing: 2px;
}

/* .shopping-cart-card{
  max-width:40rem;
  margin:0 auto;
  margin-bottom: 3rem;
} */
/* ---------react xxxxxxx------------------ */

/* ----------backend project----------------- */
.back-end-img{
  border:2px solid var(--imgBorderColor);
  box-shadow: var(--boxShadow);
}
.underline-2{
  height:2px;
  width:16rem;
  margin:0 auto;
  background-color: rgba(105, 105, 105, 0.815);
  margin-bottom: 2rem;
}

.backend-text{
  text-align:center;
  margin-top: 1.4rem;
  letter-spacing: 2px;
  color:rgb(0, 0, 0);
}
.backend-text-p{
  font-size: .9rem;
  margin-top:-1rem;
  margin-bottom: 3rem;
}

#backend-project-container{
  margin-bottom: 6rem;
}

/*--------------Profile link footer-----------------*/
.profile-link {
  display: flex;
  justify-content: flex-start;
}
h2 {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(51, 51, 51);
  letter-spacing: 2px;
}

.profile-p{
  font-size: .8rem;
  margin-top:-20px;
}

footer {
  text-align: center;
}

/*---------------profile link Logo------------------*/
.logo {
  font-size: 1rem;
  outline: none;
  animation: bounce 5s infinite;
  
}

@keyframes bounce {
  100%{
    transform: scale(1);
  }
  75%{
    transform: scale(1.15);
  }
  50%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.15);
  }
  0%{
    transform: scale(1);
  }
}

.gh{
  color:rgb(255, 255, 255);
  background:rgb(37, 34, 34);
}
.fb{
  color: rgb(255, 255, 255);
  background:rgb(25, 105, 255);
}
.cp{
  color:rgb(255, 255, 255);
  background: rgb(120, 0, 175);
}

.cp:hover{
  color:white;
}
.gh:hover{
  color:white;
}
/*-----xx----------profile link Logo--------xx----------*/


/*-----------------on scroll effect-----------------------*/
.jumbotron {
  transition: 1s ease-in-out;
  background:rgb(238, 249, 252);
  transform: translateY(50px);
  opacity: 0;
}

.jumbotron.fade-up {
  transition: 1s ease-in-out;
  opacity: 0.9;
  transform: translateY(0px);
}

/*-----------------on scroll effect-----------------------*/

footer{
  background:var(--navbarColor);
  padding:1.6rem;
  color:white;
  letter-spacing: 1px;
  font-size: .75rem;
}

/*------------------------------media view---------------------------*/
@media (min-width: 676px) {
  
  .visit-btn{
    width:9rem;
    font-size: .8rem;
  }
  h4 {
    font-size:.9rem;
  }
  p{
    font-size:.7rem;
    color:var(--paragraphColor);
  }
  .logo{
    font-size: 1.4rem;
  }
  h2{
    font-size: 1.4rem;
    letter-spacing: 3px;
  }
  .welcome{
    font-size:1.4rem;
    letter-spacing:3px;
    width:60%;
  }
}


@media (min-width: 780px) {
  
  .visit-btn{
    width:10rem;
    font-size: .8rem;
  }
  .card-body{
    height:140px;
  }
  .welcome {
    font-size: 1.9rem;
  }
  .logo {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.1rem;
  }

  p{
    font-size:.8rem;
  }
  .profile-p{
    font-size: .9rem;
  }
}

@media (min-width:1170px){
  
  .visit-btn{
    width:15rem;
    font-size: 1rem;
  }
  .logo {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  p{
    font-size:.9rem;
  }
  .profile-p{
    font-size: .9rem;
  }
  footer{
    font-size: .85rem;
  }

  .intro-text h1{
    margin-left: 10rem;
    font-size: 2.6rem;
  }
}

/*------------------------------media view---------------------------*/

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px grey; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6; 
}