/*-----google font---------*/
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(238, 249, 252);
  opacity: 0.9;
}

/*---------------nav bar---------------*/
nav{
  text-align: center;
  background:rgba(196, 247, 255, 0.582);
  height:4rem;
}

ul i {
  font-size:2rem;
  color:rgb(61, 61, 61);
  margin-right:10px;
}

ul li{
  list-style-type: none;
  display:inline;
}

ul li a {
  text-decoration: none !important;
  font-size: 1.4rem;
  color:black;
  padding:1.2rem .6rem;
  letter-spacing: 2px;
}

ul li a:hover {
  color: rgb(255, 177, 88);
  transition: 0.2s ease-in-out;
}
/*--------x-------nav bar---------x------*/

/*-------Intro font size(Web developer)--------*/

.intro-container{
  background:rgb(236, 175, 255);
  height: 400px;
  display:grid;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px rgb(102, 102, 102);
}

#intro-title {
  font-size: 3.2rem;
  color:black;
  margin-top:50px;
  letter-spacing: 5px;
  text-align: center;
}
#intro-text {
  text-align: center;
  color:rgb(36, 36, 36);
  margin-top:-100px;
  letter-spacing: 2px;
  font-size: 1.8rem;
} 
/*---xx---Intro font size(Web developer)----xx----*/

/*----------These are my project section css------------------*/
.welcome {
  font-family: "Galada", cursive;
  margin:0 auto;
  margin-top:2rem;
  margin-bottom:1rem;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  color:rgb(58, 58, 58);
  width: 75%;
  border-bottom: 2px solid rgb(153, 153, 153);
}
/*------xx----These are my project section css-----xx-------------*/

/*--------card margin-----------*/
.card {
  margin-top: 1rem;
  border:3px solid rgb(255, 206, 255);
  box-shadow: 1px 1px 15px rgb(190, 190, 190);
  object-fit: cover;
}

h4 {
  font-size:1.1rem;
  letter-spacing: 2px;
}
p{
  color:rgb(66, 66, 66);
  font-size: .9rem;
}
.visit-btn{
  font-size: 1rem;
  color:rgb(255, 255, 255);
  border:1px solid rgb(255, 108, 255);
  letter-spacing: 1px;
  text-transform: capitalize;
  width:15rem;
  margin:1rem auto;
  margin-top:1rem;
  background:rgb(255, 108, 255);
}
.visit-btn:hover{
  background:rgb(255, 65, 255);
  border:1px solid rgb(255, 65, 255);
}
/*--------card xxxxxx-----------*/

/* --------react project------------------ */
.react-project-text{
  font-size: 1.4rem;
  text-align: center;
  margin-top:5rem;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1.6rem;
  padding:.4rem;
  background:rgb(99, 232, 255);
  border:1px solid rgb(0, 153, 255);
  border-radius: 8px;
  max-width:25rem;
  letter-spacing: 2px;
}
/* ---------react xxxxxxx------------------ */

/*--------------Profile link footer-----------------*/
.profile-link {
  display: flex;
  justify-content: flex-start;
}
h2 {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(51, 51, 51);
  letter-spacing: 2px;
}

.profile-p{
  font-size: .8rem;
  margin-top:-20px;
}

footer {
  text-align: center;
}

/*---------------profile link Logo------------------*/
.logo {
  font-size: 1rem;
  outline: none;
  animation: bounce 5s infinite;
  
}

@keyframes bounce {
  100%{
    transform: scale(1);
  }
  75%{
    transform: scale(1.15);
  }
  50%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.15);
  }
  0%{
    transform: scale(1);
  }
}

.gh{
  color:rgb(255, 255, 255);
  background:rgb(37, 34, 34);
}
.fb{
  color: rgb(255, 255, 255);
  background:rgb(25, 105, 255);
}
.cp{
  color:rgb(255, 255, 255);
  background: rgb(120, 0, 175);
}

.cp:hover{
  color:white;
}
.gh:hover{
  color:white;
}
/*-----xx----------profile link Logo--------xx----------*/


/*-----------------on scroll effect-----------------------*/
.jumbotron {
  transition: 1s ease-in-out;
  background:rgb(238, 249, 252);
  transform: translateY(50px);
  /* opacity: 0; */
}

.jumbotron.fade-up {
  transition: 1s ease-in-out;
  opacity: 0.9;
  transform: translateY(0px);
}

/*-----------------on scroll effect-----------------------*/


/*------------------------------media view---------------------------*/
@media (min-width: 676px) {
  
  .visit-btn{
    width:9rem;
    font-size: .8rem;
  }
  h4 {
    font-size:.9rem;
  }
  p{
    font-size:.7rem;
    color:rgb(66, 66, 66);
  }
  .logo{
    font-size: 1.4rem;
  }
  h2{
    font-size: 1.4rem;
    letter-spacing: 3px;
  }
  .welcome{
    font-size:1.4rem;
    letter-spacing:3px;
    width:60%;
  }
}


@media (min-width: 780px) {
  
  .visit-btn{
    width:10rem;
    font-size: .8rem;
  }
  .card-body{
    height:140px;
  }
  .welcome {
    font-size: 1.9rem;
  }
  .logo {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.1rem;
  }

  p{
    font-size:.8rem;
  }
  .profile-p{
    font-size: .9rem;
  }
}

@media (min-width:1170px){
  
  .visit-btn{
    width:15rem;
    font-size: 1rem;
  }
  .logo {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  p{
    font-size:.9rem;
  }
  .profile-p{
    font-size: .9rem;
  }
}

/*------------------------------media view---------------------------*/
